.colorB{
  background-color: #BCC8CB;
  border-radius: 0%;
  width: 220px;
  color: black;
  height: 55px;
}
.clasesContainer{
  min-height: 100vh;

}
.colorB:hover{
  background-color: aqua;
  color: black;
}
.colorB:focus{
  background-color: aqua;
  color: black;
}
.letraColor{
  color: #62D8EA;
}
input {
  padding: 10px;
  border-radius: 5px;
  border-color: black;
  font-size: 16px;
}

/* Estilos adicionales cuando el input está enfocado */
input:focus {
  outline: none;
  border-color: #007bff; /* Cambia el color del borde cuando el input está enfocado */
}